@import "vars";
@import "mixins";

@import "history";
@import "greeting"; //_붙이면 compile안된다. 그러니 compile 필요없는 곳에 _붙이고, 불러들일떄 " " 안에 넣어서 불러들인다.

#sub-visual {
  height: 550px;
  background: url("../images/sub-contents/subvisual.jpg") no-repeat;
  background-size: cover;
  padding-top: 120px;
  box-sizing: border-box;
  display: flex;
  overflow: hidden;
  position: relative;
  &:after {
    content: "";
    display: block;
    position: absolute;
    width: 20%;
    height: 100%;
    background-color: #fff;
    right: 0;
    top: 0;
  }
  .container {
    display: flex;
    position: relative;
    z-index: 1;
  }
  .sub-title {
    font-size: $h1;
    color: #fff;
    font-weight: 700;
    display: flex;
    align-items: center;
    span {
      display: block;
      padding-bottom: 20px;
      border-bottom: 3px solid $point-color;
    }
  }
  .bg {
    position: absolute;
    height: 430px;
    max-width: 1280px;
    width: calc(100vw - 400px);
    left: 400px;
    bottom: 0;
    border-radius: 100px 0 0 0;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.sub-visual01 {
  background-image: url("../images/sub-contents/about_visual.jpg");
}
.sub-visual05 {
  background-image: url("../images/sub-contents/community_visual.jpg");
}

#lnb {
  background-color: $main-color;
  color: #fff;
  position: relative;
  z-index: 2;
  .container {
    display: flex;
    height: 65px;
    .home {
      width: 65px;
      background: url("../images/sub-contents/icon_home.png") no-repeat 50%;
      overflow: hidden;
      text-indent: -50px; //글 들여쓰기 -붙이면 밖으로 빠진다.
      //ir 이미지가 텍스트를 대체한다 (overflow hidden과 text-indent로.. )
      border-left: 1px solid rgba(255, 255, 255, 0.5);
      flex-shrink: 0;
    }
    .lnb-box {
      width: 300px;
      font-size: 16px;
      font-weight: 500;
      border-left: 1px solid rgba(255, 255, 255, 0.5);
      position: relative;
      &:nth-last-child(1) {
        border-right: 1px solid rgba(255, 255, 255, 0.5);
      }
      > a {
        height: 65px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 30px;
        position: relative;
        &:after {
          @include icon("\f055");
          font-size: 24px;
        }
        &:before {
          @include icon("\f056");
          font-size: 24px;
          position: absolute;
          right: 30px;
          display: none;
        }
        &.on {
          &:after {
            display: none;
          }
          &:before {
            display: block;
          }
        }
      }
      ul {
        position: absolute;
        background-color: #fff;
        width: 100%;
        display: none;
        box-shadow: 0 10px 10px 5px rgba(0, 0, 0, 0.15);
        a {
          height: 65px;
          display: flex;
          align-items: center;
          padding-left: 30px;
          color: #111;
          border-top: 1px solid #fff;
          transition: all 0.25s ease;
          &:hover {
            background-color: $main-color;
            color: #fff;
          }
        }
      }
    }
  }
}

#sub-contents {
  min-height: 600px;
  padding: 100px 0;
}
.contents-title {
  font-size: $h2;
  font-weight: 500;
  padding: 100px 0;
  text-align: center;
  border-bottom: 1px solid #ccc;
}

.contents-visual {
  display: flex;
  margin-top: 100px;
  margin-right: -20px;
  > div {
    flex-basis: 50%;
    height: 400px;
    box-sizing: border-box;
  }
  .left-contents {
    position: relative;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .txt {
      position: absolute;
      color: #fff;
      left: 50px;
      bottom: 50px;
      font-size: $h2;
      line-height: 1.5;
      font-weight: 300;
      strong {
        font-weight: 700;
      }
    }
  }
  .right-contents {
    background: url("../images/sub-contents/history_ban_bg.png") no-repeat right -30px bottom -30px darken($main-color, 15);
    color: #fff;
    padding: 50px;
    display: flex;
    align-items: center;
    margin-left: -20px;
    margin-top: 20px;
    position: relative;
    .txt-box {
      .txt {
        font-size: $h3;
        color: rgba(255, 255, 255, 0.5);
        padding-bottom: 30px;
        margin-bottom: 30px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        strong {
          font-size: $h2;
          font-weight: 700;
          display: block;
          margin-top: 30px;
          color: #fff;
        }
      }
      .title {
        text-transform: uppercase;
        line-height: 1.5;
        font-size: $h3;
        font-weight: 500;
        color: rgba(255, 255, 255, 0.2);
      }
    }
  }
}

//mobile-first 일때는 min을 쓴다.
// @media all and (min-width:980px){
//   //980보다 클때 적용되는 것
// }

@media all and (max-width: 1280px) {
  //1280보다 작을 떄 적용되는 것
  #sub-visual {
    height: clamp(300px, 43vw, 550px);
    .sub-title {
      font-size: clamp(24px, 3.75vw, 48px);
      margin-top: -50px;
    }
  }
  #lnb {
    .container {
      padding: 0;
    }
  }
  .contents-title {
    padding: clamp(30px, 7.8vw, 100px) 0;
    font-size: clamp(24px, 3.8vw, 38px);
  }
  #sub-contents {
    padding: clamp(30px, 7.8vw, 100px) 0;
  }
}

@media all and (max-width: 980px) {
  #sub-visual {
    .container {
      justify-content: center;
    }
    &:after {
      display: none;
    }
    .bg {
      display: none;
    }
  }
  .contents-visual {
    flex-direction: column;
    margin-right: 0;
    margin-top: clamp(30px, 10vw, 100px);
    .left-contents {
      .txt {
        left: 50%;
        top: 50%;
        bottom: auto;
        transform: translate(-50%, -50%);
        text-align: center;
        font-size: clamp(24px, 3.67vw, 36px);
      }
    }
    .right-contents {
      margin-left: 0;
    }
  }
}
@media all and (max-width: 640px) {
  #sub-visual {
    padding-top: 100px;
  }
}
